body{
    background-color: #f0f2f5;
    width: auto;
    height: 496px;
    margin: 0 40px;
    padding: 20px 0;
    position: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    display:ruby-base-container;
    padding:72px 160px;
    align-items:center;
    justify-content: space-between;
}

.container-left{
    width: 400px;
    height: 120px;
    padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    display: inline-block;
    vertical-align: top;
    direction: ltr;
    line-height: 1.34;
}

.first-paragraph{
    flex-direction: column;
    font-size: 24px;
    line-height: 28px;
    width: auto;
    color: #1c1321;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0 0 20px;
    display: inline-block;
    direction: ltr;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;

}

.container-right{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 10px 600px 300px;
    padding: 20px 0 28px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    unicode-bidi: embed;
}

.login-panel{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    flex-direction: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    padding-bottom: 24px;
    padding-top: 10px;
}

.inputfield{
    padding: 16px 110px;
    color: #1c2129;
    width: 364x;
    height: 20px;
    border: 2px solid #dddfe2;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: inline-block;
}

.forget-password{
    font-family: inherit;
    color: hsl(214, 89%, 52%);
    font-size:20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.signin-button{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 28px;
    line-height: 48px;
    padding: 0 16px;
    width: 480px;
    color:white;
}

.new-login{
    font-family: inherit;
    border: none;
    border-radius: 6px;
    font-size: 24px;
    line-height: 48px;
    padding:0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    justify-content: center;
}
